{% extends "index.html" %}
{% block content %}
  <h1>Task 1</h1>
  <h2>Information</h2>
  The aim of this task is to log into the following urls:
  <ul>
    <li>
      <a href="{{ root_url }}/task1/boyles_secret">Boyle's Secret</a>
      <br />
      Boyle signs upto loads of food blogs, but three of them have been hacked.
      All his passwords were 3 digit pins, so lets try again with this website.
      Log in with username, 'boyle'.
      <br />
      Link for python: task1/boyles_secret
      <br />
      <a href="{{ root_url }}/task1/help_boyle">Help</a>
    </li>
    <li>
      <a href="{{ root_url }}/task1/terrys_secret">Terry's Secret</a>
      <br />
      Terry isn't secure so he has used one of the following password prefixes: ("Qwerty", "Password", "Pa$$w0rd"), 
      and because he needed to change it twice he added two additional characters to the end of it.
      <br />
      Link for python: task1/terrys_secret
      <br />
      <a href="{{ root_url }}/task1/help_terry">Help</a>
    </li>
  </ul>

  Now doing this over and over again is going to be time consuming.
  So we automate this job using python, but really any language could do it.

  

{% endblock %}