{% extends "index.html" %}
{% block content %}
  <h2>Character set</h2>
  <p>
    The number of combinations a hacker must try to get your password is given by the permutation with replacement formula:
    <br />
    Number of possible passwords = (Size of the character set)<math><sup>password length</sup></math>
    <br />
    <br />
    So, for a password of length 4, if the password is only allowed to be the lowercase alphabet, the number of combinations is
    <br />
    Number of possible passwords: (<math><var>26</var>)<sup>6</sup>= 456976</math>
    <br />
    <br />
    If uppercase and numbers are allowed
    <br />
    Number of possible passwords: (<math><var>26</var> + <var>26</var> + <var>10</var>)<sup>6</sup>= 14776336</math>
    <br />
    This is why passwords suggest using upper/lower/numeric and special characters to increase complexity.
  </p>
  
  <br />
  <a href="{{ url_for('info') }}">Back</a>
{% endblock %}