{% extends "index.html" %}
{% block content %}
  <h2>Password hacking exercise</h2>
  <p>Welcome to a simple exercise that illustrates what a good password is, and how vulnerable bad ones are.</p>
  <br />
  There are two tasks, the first is to gain access to a url which have poor password protection, the second is to create a function that generates lots of strong passwords.

  <ul class="list">  
      <li>
        <a href="{{ url_for('task1') }}">Task One</a>
      </li>
      <li>
        <a href="{{ url_for('task2') }}">Task Two</a>
      </li>
  </ul>

  Both tasks can be handled in an number of different ways, but the skills they cover include are given below.

  <h3>Task One</h3>
  Minimum skills used:
  <ul>
    <li>
      For loops
    </li>
    <li>
      List creation
    </li>
    <li>
      String concatenation, i.e. joining strings (numbers/letters/words) together.
    </li>
  </ul>

  Advanced skills
  <ul>
    <li>
      List comprehension
    </li>
    <li>
      Using existing python libraries such as itertools
    </li>
    <li>
      Use of generators
    </li>
  </ul>

  
  <h3>Task Two</h3>
  Minimum skills used:
  <ul>
    <li>
      Use of random library
    </li>
    <li>
      String concatenation, i.e. joining strings (numbers/letters/words) together.
    </li>
  </ul>
{% endblock %}