<!DOCTYPE html> 
<html lang="en"> 
<head>
    
    <title>Hack the password</title> 
    <link rel="stylesheet" href='/static/styles.css' />
</head>

<body>
    <navbar>
        <li><a href="/">Home</a></li> 
        <li>
          <a href="{{ url_for('info') }}">Info</a>
        </li>     
        <li>
            <a href="{{ url_for('task1') }}">Task One</a>
          </li>
          <li>
            <a href="{{ url_for('task2') }}">Task Two</a>
          </li>
    </navbar>
    <br />
    <h1>Hack the password</h1>
    <div class="container">
        <div class="text" >
            {% block content %} 
            {% endblock %} 
        </div>
        <div class="image">
            <img src="/static/password_image.webp" alt="Password" style="width:100%">
        </div>
    </div>
</body> 
</html>