{% extends "index.html" %}
{% block content %}

  <h2>Human Predictability</h2>
  <p>
    Even if we beat the strong password checks, it is likely a naive algorithm would try to guess human patterns.
    A ten character password with this character set (including special characters of '!&+=') could have 1.5683369e+18 combinations to try.
    Suppose we have a super computer, can do 100 million trials a per second, this would take approximately 500 years.
    What if we could guess it though?
    For example, if you have to have a special character, uppercase letter and number then a good guess would be for a minimum of ten char length password.
    <ul>
      <li>
        First letter being upper case (start of a word)
      </li>
      <li>
        Next 5 letters being lowercase (a word)
      </li>
      <li>
        The last 4 characters being a number of special character.
      </li>
    </ul>
    
    So the combinations are 
    <math>26<sup>6</sup> x 14<sup>4</sup> = 1.1867308e+13</math> which would take approximately 1.37 days to crack.
   
    <br />
    <a href="{{ url_for('info') }}">Back</a>
{% endblock %}